.register {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;


        .left {
            flex: 1;
            background-image: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/2800/Hades.Hercules.webp");
            background-position: center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            justify-content: center;

            h1 {
                font-size: 100px;
                line-height: 100px;
            }

            p {}

            span {
                font-size: 14px;
            }

            button {
                background-color: white;
                width: 50%;
                padding: 10px;
                border: none;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }

        }

        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            h1 {
                color: #555;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgrey;
                    padding: 20px 10px;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

}