@import "../../styles/style.scss";

.update {
    @include themify() {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 50%;
        height: 50%;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 50px;
        z-index: 999;
        form {
            
        }
    }
}